<div class="container cust-sec-color p-4">
    <form action="/user/update" method="post">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col p-3">
                <div class="mb-3 text-center">
                    <h3>Update Information</h3>
                </div>
                <div class="mb-3">
                    <label for="user_name_update" class="form-label">User Name:</label>
                    <input type="text" class="form-control" name="user_name" id="user_name_update" value="{{user.user_name}}">
                    {% for message in get_flashed_messages(category_filter=["err_user_name_update"]) %}
                        <p class="err-msg text-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="first_name_update" class="form-label">First Name:</label>
                    <input type="text" class="form-control" name="first_name" id="first_name_update" value="{{user.first_name}}">
                    {% for message in get_flashed_messages(category_filter=["err_first_name_update"]) %}
                        <p class="err-msg text-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="last_name_update" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" id="last_name_update" value="{{user.last_name}}">
                    {% for message in get_flashed_messages(category_filter=["err_last_name_update"]) %}
                        <p class="err-msg text-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="email_update" class="form-label">Email:</label>
                    <input type="text" class="form-control" name="email" id="email_update" value="{{user.email}}">
                    {% for message in get_flashed_messages(category_filter=["err_email_update"]) %}
                    <p class="err-msg text-danger">{{message}}</p>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    <label for="is_private_update" class="form-label">Set list to Private?</label>
                    {% if user.is_private%}
                        <input type="checkbox" class="form-checkbox" name="is_private" id="is_private_update" value="True" checked>
                    {% else %}
                        <input type="checkbox" class="form-checkbox" name="is_private" id="is_private_update" value="True">
                    {% endif %}
                    {% for message in get_flashed_messages(category_filter=["err_pw_update"]) %}
                        <p class="err-msg text-danger">{{message}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="col p-3">
                <div class="mb-3 text-center">
                    <h3>Profile Icons</h3>
                </div>
                <div class="row row-cols-sm-4">
                    <div class="col mb-4">
                        <label>
                            {% if user.user_icon == "p2.jpg" %}
                                <input type="radio" name="user_icon" value="p2.jpg" checked>
                            {% else %}
                                <input type="radio" name="user_icon" value="p2.jpg">
                            {% endif %}
                            <img src="{{ url_for('static', filename='/img/p2.jpg')}}" alt="Option 1" class="profile-icon">
                        </label>
                    </div>
                    <div class="col mb-4">
                        <label>
                            <input type="radio" name="user_icon" value="p3.jpg">
                            <img src="{{ url_for('static', filename='/img/p3.jpg')}}" alt="Option 2" class="profile-icon">
                        </label>
                    </div>
                    <div class="col mb-4">
                        <label>
                            <input type="radio" name="user_icon" value="p4.jpg">
                            <img src="{{ url_for('static', filename='/img/p4.jpg')}}" alt="Option 3" class="profile-icon">
                        </label>
                    </div>
                    <div class="col mb-4">
                        <label>
                            <input type="radio" name="user_icon" value="p5.jpg">
                            <img src="{{ url_for('static', filename='/img/p5.jpg')}}" alt="Option 4" class="profile-icon">
                        </label>
                    </div>
                    <div class="col mb-4">
                        <label>
                            <input type="radio" name="user_icon" value="p6.jpg">
                            <img src="{{ url_for('static', filename='/img/p6.jpg')}}" alt="Option 5" class="profile-icon">
                        </label>
                    </div>
                    <div class="col mb-4">
                        <label>
                            <input type="radio" name="user_icon" value="p8.jpg">
                            <img src="{{ url_for('static', filename='/img/p8.jpg')}}" alt="Option 6" class="profile-icon">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <button class="btn btn-primary form-control" >Save Updates</button>
        </div>
    </form>
    <div class="mb-3">
        <button type="button" class="btn btn-primary mx-auto" data-bs-toggle="modal" data-bs-target="#password_modal">Change Password</button>
    </div>
</div>
<div class="modal fade" id="password_modal" tabindex="-1" aria-labelledby="password_modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content cust-sec-color text-light">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="password_modal">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>